
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:#fff;
    
    font-family: "Plain Light";
}

html ,body{
     height: 100%;
     width: 100%;
}

body{
    overflow-x: hidden;
}
 
#cursor{
    height: 2.4vw;
    width: 2.4vw;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.732);
    position: fixed;
    z-index: 9999;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);

}
.loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999999999;
    background-color: #262626;
    padding: 25vh 10vw;
}
.line{
    
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}
#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1vw;
    
}
#line1-part1 h5{
    width: 5vw;
    text-align:right;

}
#line1-part1 h5, #line1-part1 h6{
    font-size: 3vw;
    font-family: 'Silk serif';
    font-weight: 500;

}
.line h1{
    text-transform: uppercase;
    font-size: 6.5vw;
    font-weight: 900;
}
.line h2{
    font-size: 5vw;
    text-transform: uppercase; 
     
    font-weight: 900;
    opacity:0;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

@keyframes anime {
    0%{
        font-family: "Plain Light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 400;
        opacity:1
    }
    47%{
        font-family: "Plain Light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 400;
        opacity:0
    }
    
    50%{
        font-family: 'Silk serif';
        -webkit-text-stroke: 1px #fff;
        font-weight: 400;
        color: transparent;
        opacity:1
    }
    100%{
        font-family: 'Silk serif';
        -webkit-text-stroke: 1px #fff;
        font-weight: 400;
        color: transparent;
        opacity:0
    }
}
#main{
    position: relative;
    
    background-color: #000000;

}
.page1{
    height: 100vh;
    width: 100%;
    background-color: #000000;
}

.page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 6.8vw;


}
.nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}
.nav-part2 h4{
    font-size: 1vw;
    font-weight: 500;
}
#flag{
    height: 25vw;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50% , -50%);
    z-index: 10000;
    opacity: 0;
}

#hero3{
    
    z-index: 99999;
    position: relative;
}
.hero{
    
    width: 70%;
    margin-left: 27%;
    height: fit-content;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 9999;
}


.hero:nth-child(2){
    margin-top: 9vh;
}

.hero h1{
    font-size:7.2vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7vw;
    position: relative;
}
 

.hero h2{
    font-size:7.2vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7vw;
   
    border-bottom: 0.7vw solid white;
    
}
.hero h2:hover{
    -webkit-text-stroke: 0.07vw #ffff;
    color: transparent;
    font-weight: 500;
    border-bottom: 0.7vw solid transparent;
}

.page2
{
    height: 100vh;
    width: 100%;
    padding-top: 17vh;
    position: relative;
}

.video-con{
  height:   70vh;
  width: 71vw;
  position: relative;
  left: 28%;
  top: 8vw;
   background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg); 
}
.video-con img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
    
}
background-image{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
    
}
.video-con img:hover{
    opacity: 0;
}
.video-con video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0;
}
.video-cursor{
    background-color: #FFA63D;
    height: 8.5vw;
    width: 8.5vw;
    border-radius: 50%;
    position:  absolute; 
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    top: -10%;
    left: 80%;
    z-index: 999;
    

}


.video-cursor i{
    font-size: 2vw;
}

.page3{
    min-height: 100vh;
    width: 100%;
   
    position: relative;
    padding-top: 25vh;
}
.page3 .underline{
    margin-left: 28vw;
}
.page3 h1{
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
    margin-left: 28vw;
}
.image-div-container{
      
    padding: 1vw;
    position: relative;
    display: flex;
    align-items: flex-start;
    
    justify-content: flex-start;
    flex-wrap:wrap;
   
}
.img-div{
    height: 38vw;
    width:25vw;
    
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.img-div:nth-child(1){
    height: 30vw;
    width:22vw;
    margin-left: 100px;
    
}
 
.img-div:nth-child(2){
    
    margin-left: 2vw;
    
}
.img-div:nth-child(5){
    
    margin-top: 11vw;
    margin-left: 2vw;
    
}
.img-div:nth-child(6){
    
    margin-left: 5vw;
    margin-top: 1vw;
}
 

.img-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    gap: 10px;
}
.page3-circle1{
    cursor: none;
    height: 23vw;
    width: 23vw;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 23vh;
    margin-left: 10vw;
    position: relative;


}

.circle-text{
   
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
 
    display: flex;
    align-items: center;
    justify-content: center;
   
     
    transition: all ease 0.3s;
    scale: 0;
    border-radius: 50%;
 

}
.circle-text p{
    
    font-size: 0.95vw;
    color: #000000;
    font-weight: 500;
    width: 60%;
    scale: 0;
    transition: all ease 0.3s;
    transition-delay: 0.3s;
    opacity: 0;
}
.page3-circle1:hover .circle-text {
    scale: 1;
     
}
.page3-circle1:hover p{
    scale: 1;
    opacity: 1;
    
}
.page3-circle2:hover .circle-text {
    scale: 1;
}
.page3-circle2:hover p{
    scale: 1;
    opacity: 1; 
     
}
.page4{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding-top: 7vh 0;
    
}
.page3-circle1 svg{
  
    height: 30%;
    
}

.page3-circle2{
    cursor: none;
    height: 23vw;
    width: 23vw;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
 position: relative;
 

}
.page3-circle2 svg{
 
    height: 30%;
    rotate: -45deg;
    
}
.page4-con{
    
    width: 72vw;
    margin-left: 20%;
    margin-top: 1vw;
    position: relative;
}

.page4-con h1{
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
}

.page4-con h1:before{
    content: "04";
    position: absolute;
    font-size: 3vw;
    font-family: "silk serif";
    left: -12%;
    top:5%;

    
}
.page4-con .underline{
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 4vw 0;
}

.page4-con>p{
    font-size: 2.05vw;
    width: 50%;
    margin-bottom: 3vw;
}
.page4img{
    display: flex;
 
}

.page4img img{
    width: 45%;

}
.page4img p{
    font-size: 1vw;
    width: 30%;
    margin-left: 1vw;
}

.page4bluebox{
    background-color: #3F7DF4;
    width: 34vw;
    padding: 3rem 5.5rem 4rem;
    position: relative;
    margin-top: -31vh;
    margin-left: 22vw;
}

.blue-div{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
   
    /* padding: 1.5vw 0; */
    padding: 1.7vw 0;
    border-bottom: 2px solid #ffffff92;

}
.blue-div h4{
    font-size: 1.4vw;
    font-weight: 500;
}

.blue-div p{
    
    width: 40%;
    font-weight: 0.7vw;
    font-size: 1vw;
}

.page5{
    min-height: 100vh;
    width: 100%;
     

}
.element{
    
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -2vw;
}
.element h1{
    font-size: 7vw;
    -webkit-text-stroke: 1px #fff;
    font-weight:  400;
     color:transparent;
     text-transform: uppercase;
     display: inline-block;
     margin-right:16px;
     animation-name: anime1;
     animation-duration: 7s;
     animation-timing-function: linear;
     animation-iteration-count: infinite;
}

@keyframes anime1 {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));
    }
    
}
.element2{
    
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -2vw;
}
.element2 h1{
     font-size: 7vw;
     -webkit-text-stroke: 1px #fff;
     font-weight:  400;
     color:transparent;
     text-transform: uppercase;
     display: inline-block;
     transform: translateX(calc(-100% - 20px));
     animation-name: anime1;
     animation-duration: 10s;
     animation-timing-function: linear;
     animation-iteration-count: infinite;
     animation-direction: reverse;
}

.element span{ 
    font-style: italic;
    font-family: "silk serif";
    color: transparent;
}
.element2 span{ 
    font-style: italic;
    font-family: "silk serif";
    color: transparent;
}

.footer{
    height: 90vh;
    width: 100%;
     
    padding-left: 10vw;

}

.footer h1{
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
}
.footer h1:before{
    content: "04";
    position: absolute;
    font-size: 3vw;
    font-family: "silk serif";
    left: -12%;
    top:5%;

    
}
.underline{
    height: 2px;
    width: 100%;
    background-color: white;
    margin: 2vw 0 ;
}
.footer-div{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 5vw;
    padding-top: 4vw;
    margin-bottom: 1vw;
}
.footer-div h6{
    font-size: 0.9vw;
    margin-bottom: 1.5vw;
}
.footer-div h5{
    font-size:1.7vw;
    font-weight: 500;
}
.box1{
    width: 20%;

}

.footer>h5{
    font-size:1vw;
    font-weight: 500;
}

._canvas_container{
    z-index: 999999 !important;
    pointer-events: none;
}
#box2{
    margin-left: 30vw;

}

@media(max-width:720px){
    .page1{
        height: 70vh;
        width: 100%;
        background-color: #000000;
    }
    *{
        overflow-x: hidden;
    }
  
   
    .video-con{
        height:   50vh;
        width: 71vw;
        margin-top: -20vw;
        position: relative;
        left: 23%;
         
         background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg); 
      }

      .image-div-container{
      
        padding: 1vw;
        position: relative;
        display: flex;
        align-items: flex-start;
        
        justify-content: flex-start;
        flex-wrap:wrap;
       
    }
    .img-div{
        height: 38vw;
        width:25vw;
        
        position: relative;
        overflow: hidden;
        flex-shrink: 0;
    }
    
    .img-div:nth-child(1){
        height: 30vw;
        width:22vw;
        margin-left: 10px;
        
    }
     
    .img-div:nth-child(2){
        
        margin-left: 2vw;
        
    }
    .img-div:nth-child(5){
        
        margin-top: 11vw;
        margin-left: 2vw;
        
    }
    .img-div:nth-child(6){
        
        margin-left: 5vw;
        margin-top: 1vw;
    }
     
    
    .img-div img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        gap: 10px;
    }


    .page3-circle1:hover .circle-text {
        scale: 1;
         
    }
    .page3-circle1:hover p{
        scale: 1;
        opacity: 1;
        
    }
    .page3-circle2:hover .circle-text {
        scale: 1;
    }
    .page3-circle2:hover p{
        scale: 1;
        opacity: 1; 
         
    }
    .page4{
        min-height: 100vh;
        width: 100%;
        position: relative;
        padding-top: 7vh 0;
        
    }
    .page3-circle1 svg{
      
        height: 30%;
        
    }
    .page3-circle1{
        margin-top: 30px;
    }
    
    .page3-circle2{
        cursor: none;
        height: 23vw;
        width: 23vw;
        border: 2px solid #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
     position: relative;
     
    
    }
    .page3-circle2 svg{
     
        height: 30%;
        rotate: -45deg;
        
    }

    .page4-con{
    
        width: 72vw;
        margin-left: 20%;
        margin-top: 10vw;
        position: relative;
    }
    
    .page4-con h1{
        font-size: 7vw;
        margin-left: 20%;
        text-transform: uppercase;
        position: relative;
    }
.page4bluebox{
    display: none;
}
 
    
     
}